.categoriesCardItem img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* justify-content: center; */
  
}

.titleWrapper {
  margin-top: 8px;
  font-weight: bold;
  text-align: center;
  align-items: center;
}