.nav-box {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    font-size: larger;
    overflow: visible;
}

.navbar-container {
    height: 67px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 254, 253);
}

.navbar-searchimg {
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 50px;
}

.nav-searchbox {
    width: 98%;
    background-color: rgb(208, 250, 237);
    border: none;
    border-radius: 10px;
    height: 40px;
}

.nav-search {
    width: 600px;
    display: flex;
    align-items: center;
    background-color: rgb(208, 250, 237);
    border-radius: 10px;
    height: 100%;
}

.navlink-box {
    background-color: transparent;
    display: flex;
    gap: 20px;
    align-items: center;
}

.navlink {
    
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 40px;
    text-decoration: none;
    background-color: transparent;
}

.navlink-img {
    background-color: transparent;
}
.navlink-text{
    background-color: transparent;
}

.login-wrapper{
    background-color: transparent;
}

.dropdown-login{
    background-color: rgb(247, 245, 245);
    box-shadow: 0px 0px 0px 3px rgba(247, 245, 245, 0.588);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 69%;
    width: 200px;
    padding: 10px;
    z-index: 1100;
}

.logincontent1{
    justify-content: space-between;
    display: flex;
    background-color: transparent; 
    border-bottom: 1px solid black; 
    padding-bottom: 2px;
}

span{
    background-color: transparent;
}

.logincontent2{
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.login-wrapper:hover .dropdown-login{
    display: flex;
}

.nav-signup{
    text-decoration: none;
    background-color: transparent;
}