
.product-categorybox {
    background-color: rgb(255, 254, 253);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 126px;
    margin-right: 16px;
    margin-left: 16px;
    
}

.product-adbox {
    display: flex;
    overflow: hidden;
    padding-top: 17px;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
}

.product-card1{
    display: flex;
    margin-top: 17px;
    margin-right: 16px;
    margin-left: 16px;
    gap: 15px;
    height: 400px;
}